.site-footer {
    padding: 2.5rem 0;
    background-color: #fff;
    @include media-breakpoint-down(md) {
        padding: 1.5rem 0 1rem;
    }
}

.footer__copyright {
    font-size: 0.9375rem;
    @include media-breakpoint-down(md) {
        font-size: 9px;
    }
    .text-font {
        font-size: 1.125rem;
        @include media-breakpoint-down(md) {
            font-size: 10px;
        }
    }
}