.site-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 2rem 0;
    background: none;
    @include transition(350ms);
    @include media-breakpoint-down(md) {
        padding: 1.5rem 0;
    }

    &:before {
        content: "";
        background: url(../images/menu-bg.jpg) no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0;
        @include transition(350ms);
        @include square(100%);
        @include media-breakpoint-down(sm) {
            background-image: url(../images/menu-bg-mobile.jpg);
        }
    }

    &.is--sticky {
        padding: 1.5rem 0;

        &:before {
            opacity: 1;
        }
    }

    .social-icons {
        margin-right: 1.25rem;
    }
}


.custom-logo {
    max-width: 15.1875rem;
    @include small-laptop() {
        width: 100%;
    }
    @include media-breakpoint-down(lg) {
        max-width: 100%;
    }
}
